.PlaylistSong {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  align-items: center;
  color: #ddd;
  &:hover {
    background: #c3c3c3;
    cursor: pointer;
    color: #333;
  }

  img {
    width: 3rem;
    margin-right: 1rem;
  }

  .songDuration {
    margin-left: 1rem;
  }
}

.activeSong {
  background: #c3c3c3;
  color: #333;
}