* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #333;
  color: #ccc;
  height: 100vh;
}

@import "./sideMenu";
@import "./playlistSong";
@import "./song";
@import "./player";
